<header class="site-header py-3 bg-primary text-white">
  <div class="container-fluid d-flex align-items-center">
    <div class="d-flex align-items-center me-4">
      <img src="/assets/images/simplify-icon.svg" alt="SimplifiTech Logo" style="height: 40px; width: 40px; margin-right: 1rem; filter: brightness(0) invert(1);">
      <span class="h4 mb-0 fw-bold text-center">Welcome to SimplifiTech</span>
    </div>
    <br />
    <nav class="d-flex flex-row ms-3">
      <a class="nav-link text-white px-2" href="/about.html">About</a>
      <a class="nav-link text-white px-2" href="/categories/application-modernization.html">Application Modernization</a>
      <a class="nav-link text-white px-2" href="/categories/artificial-intelligence.html">Artificial Intelligence</a>
      <a class="nav-link text-white px-2" href="/categories/cloud-migration.html">Cloud Migration</a>
    </nav>
  </div>
</header>
