<div class="share-links">
  <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title }}" target="_blank" rel="noopener" class="btn btn-outline-primary btn-sm me-1">Share on X</a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title }}" target="_blank" rel="noopener" class="btn btn-outline-info btn-sm me-1">Share on LinkedIn</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" rel="noopener" class="btn btn-outline-secondary btn-sm">Share on Facebook</a>
</div>
